head 
#p3 {background-color: #0000ff;}   /* blue */

h1 {
    text-align: center;
    
}

H1 {
    text-shadow:5px 5px 10px rgb(153, 179, 10);
  }


header nav ul {
 list-style: square;
}

header nav ul li {

    display: inline;
    margin-right: 30px;
}


header nav ul li {
    text-decoration-thickness: 100px;


}

img{
        height: 800px;
        width: 1000px;
    
}
body {background-color: rgb(206, 96, 105)}
